<web-app >
  <display-name>ServletLab11</display-name>
  <welcome-file-list>
    
    <welcome-file>index.html</welcome-file>
    
  </welcome-file-list>
  
  <servlet>
  <servlet-name>MyServlet</servlet-name>
  <servlet-class>com.sunny.servlets.TestServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>MyServlet</servlet-name>
  <url-pattern>/AutoRefresh</url-pattern>
  
  </servlet-mapping>
  
</web-app>