<web-app >
  <display-name>ServletLab10a</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  




  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.sunny.servlets.TestServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/test.sunny</url-pattern>
  </servlet-mapping>



</web-app>