<web-app>
  <display-name>ServletLab12</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<servlet>

<servlet-name>searchServlet</servlet-name>
<servlet-class>com.mohan.servlets.SearchBookServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>searchServlet</servlet-name>
<url-pattern>/searchbook.com</url-pattern>

</servlet-mapping>





<servlet>

<servlet-name>AddToCartServlet</servlet-name>
<servlet-class>com.mohan.servlets.AddToCartServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>AddToCartServlet</servlet-name>
<url-pattern>/addtocart.com</url-pattern>

</servlet-mapping>










<servlet>

<servlet-name>ShowCartServlet</servlet-name>
<servlet-class>com.mohan.servlets.ShowCartServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>ShowCartServlet</servlet-name>
<url-pattern>/showcart.com</url-pattern>

</servlet-mapping>





<servlet>

<servlet-name>RemoveFromCartServlet</servlet-name>
<servlet-class>com.mohan.servlets.RemoveFromCartServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>RemoveFromCartServlet</servlet-name>
<url-pattern>/removefromcart.com</url-pattern>

</servlet-mapping>





</web-app>